@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: #fb7413;
    --white: #ffffff;
    --light-grey: #959eac;
    --medium-grey: #7c8798;
    --dark-blue: #252d37;
    --very-dark-blue: #121417;

    --font: 'Overpass', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    font-size: 15px;
    background-color: var(--very-dark-blue);
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

p {
    line-height: 1.8;
}

ul li{
    list-style: none;
}

.main-container,
.thankyou-container {
    background-image: linear-gradient(
    to bottom,
    hsl(212, 18%, 14%),
    hsl(220, 16%, 11%)
  );
  padding: 2rem;
  border-radius: 25px;
  width: 400px;
}

.main-container img {
    background-color: var(--medium-grey);
    padding: 0.9rem;
    border-radius: 50px;
}

.main-container h1 {
    color: var(--white);
    margin: 2rem 0 1rem;
}

.main-container p {
    color: var(--medium-grey);
    margin-bottom: 1rem;
}

.main-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.main-container ul li button {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
}

.main-container ul li button:hover {
    background-color: var(--medium-grey);
}

.main-container ul li button:focus {
    background-color: var(--orange);
}

.submit-btn {
    background-color: var(--orange);
    color: var(--white);
    width: 100%;
    padding: 0.8rem 0 0.6rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--white);
    color: var(--orange);
}

.thankyou-container img {
    display: block;
    margin: 0 auto 2rem;
}